.login__input {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.login__phone {
    margin-top: 10vh;
}

.login__button {
    margin-top: 4vh;
}

.login__footer {
    margin-top: 5vh;
    font-size: .8em;
}

.login__forgot-password {
    float: right;
}

.login__register {
    float: left;
}

.register__button {
    margin-top: 4vh;
}

.register__input {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.register__phone {
    margin-top: 8vh;
}

.register__indentify {
    width: 40%;
}

.register__indentify-button{
    float: right;
    width: 50%;
    margin-top: 2vh;
    padding-top: 3vh;
}