.reset-password__phone {
    background-image: url('../images/phone.svg');
}

.reset-password__identify {
    width: 45%;
    background-image: url('../images/identifying-code.svg');

}

.reset-password__identify-button {
    float: right;
    width: 50%;
}

.reset-password__password {
    background-image: url('../images/password.svg');
}

